body {
    background-image: url(/assets/img/backgrounds.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
#avatar {
    height: 250px;
    width: 250px;
    border-radius: 999px;
}
#name {
    font-size: 50px;
    color: rgb(179, 182, 150);
}
#box {
    margin-top: 30px;
    display: inline-block;
    margin-left: 68 0px;
    height: 550px;
    width: 350px;
    border-radius: 15px;
    background-color: aqua;
}
.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 110px;
    border-radius: 10px;
    background-color: rgb(16, 121, 153);
    text-decoration: none;
    color: black;
}
.btn:hover {
    background: linear-gradient( 90deg, rgb(15, 54, 139), rgb(131, 31, 156));
}