body {
    text-align: center;
    justify-content: center;
}
#avatar {
    height: 250px;
    width: 250px;
    border-radius: 999px;
}
#name {
    font-size: 50px;
}
.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 90px;
    border-radius: 10px;
    background-color: rgb(16, 121, 153);
    text-decoration: none;
    color: black;
}
.btn:hover {
    background: linear-gradient( 90deg, rgb(15, 54, 139), rgb(131, 31, 156));
    transform: matrix();
}