body {
    background-image: url(./img/backgrounds.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Lobster', cursive;
}
#avatar {
    height: 250px;
    width: 250px;
    border-radius: 999px;
}
#name {
    font-size: 50px;
    color: #E1D7C6;
}
#description {
    margin-top: 20px;
    color: #E1D7C6;
}
#box {
    background-image: url(./img/boxbackground.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 130px;
    display: inline-block;
    margin-left: 68 0px;
    height: 620px;
    width: 350px;
    border-radius: 15px;
}
.btn {
    display: inline-block;
    margin-top: 30px;
    height: 20px;
    width: 100px;
    padding: 10px 80px;
    border: 2px solid rgba(0, 0, 0, 0.829);
    border-radius: 10px;
    color: #E1D7C6;
    text-decoration: none;
}
.btn:hover {
    background: -webkit-gradient( linear, left top, right top, from(rgb(211, 104, 58)), to(rgb(115, 50, 70)));
    background: -o-linear-gradient( left, rgb(211, 104, 58), rgb(115, 50, 70));
    background: linear-gradient( 90deg, rgb(211, 104, 58), rgb(115, 50, 70));
}